.canvas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.canvas-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* max-width: 1400px; */
  width: 80%;
  /* height: 100%; */
  padding-top: 2rem;
}
