.canvas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.canvas-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1400px;
  padding: 2rem;
}
